#wiki-edit table {
  width: 100%;
}
#wiki-edit table th {
  text-align: left;
  border-bottom: gray 1px dashed;
}
#wiki-edit table td {
  border-bottom: gray 1px dashed;
}
#wiki-edit table input,
#wiki-edit table textarea {
  width: 100%;
}
